.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; /* Высота навигации */
  background-image: url('../../assets/nav_bg.svg'); /* Путь к изображению */
  background-size: 100vw 90px; /* Ширина 100% экрана, высота подгоняется */
  background-repeat: no-repeat;
  background-position: top center; /* Расположение фона */
  padding: 0 20px;
 
}

.logoContainer {
  flex-shrink: 0;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0 auto; /* Центрируем меню */
  padding: 0;
  justify-content: center; /* Центрируем содержимое меню */
}

.menu li a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #C4F4FF;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #C4F4FF;
}

.languageSwitcher {
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* Языки выравниваются справа */
  position: relative;
  right: 0;
  flex-shrink: 0;
}

.languageSwitcherMobile {
  display: none; /* Скрываем языки внутри бургер-меню на больших экранах */
}

.langBtn {
  background: transparent;
  color: #C4F4FF;
  border: none;
  cursor: pointer;
}

.burger {
  display: none; /* Скрываем бургер на больших экранах */
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #C4F4FF;
  margin: 5px 0;
}

/* Адаптивный дизайн для маленьких экранов */
@media (max-width: 768px) {
  .navigation {
    height: 80px; /* Сохраняем высоту навбара */
    background-size: 100vw 50px;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0;
  }

  .menu {
    display: none; /* Скрываем меню */
  }

  .burger {
    display: block; /* Показываем бургер */
    margin-left: auto;
    padding-top: 10px;
  }

  .menuOpen {
    display: flex !important; /* Показываем меню, если оно открыто */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Меню начинается сразу под навбаром */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 10;
    text-align: center;
  }

  .menuOpen li {
    margin: 10px 0;
    cursor: pointer;
  }

  .menuOpen li a {
    color: #C4F4FF;
  }

  .languageSwitcher {
    display: none; /* Скрываем переключатель языков справа */
  }

  .languageSwitcherMobile {
    display: flex; /* Показываем переключатель языков внутри бургер-меню */
    margin: 0px 20px;
    gap: 5px;
    margin-top: 30px;
  }
  .logo{
    padding-top: 30px;
  }
}
