.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-image: url("../../assets/nav_bg.svg");
  background-size: 100vw 90px;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 20px;
  transition: all 0.3s ease; /* Плавный переход для фиксации */
  z-index: 100;
}

.navigation.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(6, 13, 23, 0.9); /* Фон при фиксации */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень */
  z-index: 1000;
}

.logoContainer {
  flex-shrink: 0;
}

.logo {
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 40px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0 auto; /* Центрируем меню */
  padding: 0;
  justify-content: center; /* Центрируем содержимое меню */
}

.menu li a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #C4F4FF;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #C4F4FF;
}

.languageSwitcher {
  position: absolute;
  top: 15px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px; /* Чтобы блок был отделён от ссылок */
 
}

.menuOpen .languageSwitcher {
  display: flex; /* Показываем переключатель только в открытом бургер-меню */
}


.langBtn {
  background: transparent;
  color: #C4F4FF;
  border: none;
  cursor: pointer;
  border: 0.5px solid #C4F4FF;
  border-radius: 5px;
}

.langBtn:hover{
  box-shadow: 0 0 5px #C4F4FF;
}

.burger {
  display: none; /* Скрываем бургер на больших экранах */
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #C4F4FF;
  margin: 5px 20px;
}

@media (max-width: 992px){

}


/* Адаптивный дизайн для маленьких экранов */
@media (max-width: 768px) {
  .menu{
    height: 40vh;
    width: 100vw;
   }
  .menu li a  {
   font-size: 14px;
  }
  .logo{
   margin-left: 0px;
   top: 0;
  }
 .languageSwitcher {
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 position: relative;
 padding-left: 30px;
 }
 .langBtn{
   font-size: 12px;
 }
  .navigation {
    height: 80px; /* Сохраняем высоту навбара */
    background-size: 100vw 50px;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0;
  }

  .menu {
    display: none; /* Скрываем меню */
  }

  .burger {
    display: block; /* Показываем бургер */
    margin-left: auto;
    padding-top: 10px;
  }

  .menuOpen {
    display: flex !important; /* Показываем меню, если оно открыто */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Меню начинается сразу под навбаром */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 10;
    text-align: center;
  }

  .menuOpen li {
    margin: 5px 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .menuOpen li a {
    color: #C4F4FF;
  }

  .languageSwitcher {
    display: none; /* Скрываем переключатель языков справа */
  }

  .languageSwitcherMobile {
    display: flex; /* Показываем переключатель языков внутри бургер-меню */
    margin: 0px 20px;
    gap: 5px;
    margin-top: 30px;
  }
  .logo{
    padding-top: 30px;
  }
}
