.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    background-image: url("../../assets/girl.svg"), url("../../assets/vector.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right center, left center; /* Первая картинка справа, вторая слева */
    background-size: contain, contain;
    background-size: 50% auto, 30%auto; /* Ширина первой картинки 400px, второй — 650px */
  }
  
  .leftContainer,
  .rightContainer {
    display: flex;
    flex-direction: column;
    gap: 250px;
  }
  
  .leftContainer {
    align-items: center;
   
  }
  
  .rightContainer {
    align-items: flex-end;
    justify-content: center;
  }
  
  @media (max-width: 992px){
    .skillsContainer {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }
  }