.videoContainer {
  width: 100%;
  max-height:min-content; /* Гарантирует, что высота контейнера равна высоте экрана */
  position: relative;
  overflow: hidden; /* Удаляет любые лишние отступы */
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Видео растягивается, сохраняя пропорции */
  z-index: -1; /* Помещаем видео под содержимое */
  box-shadow: inset -1px -20px 9px 0px #060d17; /* Внутренняя тень */
}

.nextPage{
 display: flex;
 justify-content: flex-end;
 align-items: last baseline;
height: 50px;
width: 100vw;
box-shadow: inset 0px -19px 9px 10px #060d17;
}

.content {
  position: relative;
  z-index: 1; /* Контент над видео */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.sticksContainer{
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding-left: 80px;
  padding-right: 80px;
  gap: 20px;
}

.stickLeft{
  display: flex;
  justify-content: flex-start;
}

.stickRight{
  display: flex;
  justify-content: flex-end;
}

.heroButtons{
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-wrap: nowrap;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
}

.closeButton {
  margin: 10px;
  padding: 10px;
  align-self: center;
  background: rgb(252, 89, 89);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1200px){
  .stickRight{
    margin-right: 40px;
  }
}
@media (max-width: 768px){
  .modal{
    height: fit-content;
  }

  .heroButtons{
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
  }
  .sticksContainer{
    padding: 0;
    margin: 0 auto;
  }
  .stickLeft{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }
  .stickRight{
    display: flex;
    justify-content: center;
    padding: aut0o;
    margin: 0 auto;
  }
}
